@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
.showcase{
    
    font-family: 'Rubik', sans-serif;
    background-image:url('C:\Users\GENERAL STORES\Desktop\estate\real-estate\src\images\Estately.png');
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    
   
   background-size: cover;
    background-position: center;
    height: 75vh;
    z-index: 1;
    
}
.showcase p ,h1{
    margin-left:40px;
    
}
.showcaseText{
    margin-left: 40px;
    

}

.adjust{
    margin-top: 200px;
}
.tab{
    z-index: 2;
}

.tab-pane{
    background-color: white;
}
