.bannerContain{
    display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
  margin-bottom: 30px;
}

.bannerContain h3{
    color:#546e79
}